* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --strong_cyan: hsl(172, 67%, 45%);
    --very_dark_cyan: hsl(183, 100%, 15%);
    --dark_grayish_cyan: hsl(186, 14%, 43%);
    --grayish_cyan: hsl(184, 14%, 56%);
    --light_grayish_cyan: hsl(185, 41%, 84%);
    --very_light_grayish_cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-weight: 700;
    font-family: "Space Mono", sans-serif;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 5.5rem;
    background-color: var(--light_grayish_cyan);
    min-height: 100vh;
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.logo {
    width: 5.5rem;
    height: 3.3125rem;
}

.card {
    width: 100%;
    max-width: 57.5rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    padding: 3rem;
}

form {
    flex-basis: calc(50% - 1.5rem);
    display: flex;
    flex-flow: column nowrap;
    gap: 2.5rem;
}

fieldset {
    border: unset;
}

label {
    color: var(--dark_grayish_cyan);
}

.form_control {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    position: relative;
}

.form_control.label_group {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

input {
    width: 100%;
    padding-top: .5rem;
    padding-right: 1rem;
    padding-bottom: .5rem;
    font-size: 1.5rem;
    text-align: right;
    border: unset;
    background-color: var(--very_light_grayish_cyan);
    border-radius: .25rem;
    color: var(--very_dark_cyan);
    cursor: pointer;
    outline: none;
}

input:focus,
input:active {
    border: 2px solid var(--strong_cyan);
}

.form_control img {
    position: absolute;
    width: 0.7rem;
    height: 1rem;
    top: calc(50% + 0.625rem);
    left: 1.25rem;
}

.form_select {
    display: flex;
    gap: 1rem;
    flex-flow: column nowrap;
}

.form_select .options {
    display: grid;
    grid-template: repeat(2, minmax(3rem, 1fr)) / repeat(3, minmax(7.5rem, 1fr));
    gap: 1rem
}

.form_select .option {
    padding: .5rem 0;
    width: 100%;
    background-color: var(--very_dark_cyan);
    text-align: center;
    color: white;
    font-size: 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
}

.form_select .option:hover {
    background-color: hsl(172, 61%, 77%);
    color: var(--very_dark_cyan);
}

.form_select .custom {
    padding: unset !important;
    background-color: unset !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom input {
    text-align: center;
    padding-right: unset;
    height: 100%;
}

.form_select .option[active] {
    background-color: var(--strong_cyan);
}

.bill {
    flex-basis: calc(50% - 1.5rem);
    background-color: var(--very_dark_cyan);
    color: white;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border-radius: .5rem;
}

.bill .result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2.5rem;
}

.result h2 {
    font-size: 1rem;
}

.result span {
    font-size: 0.8125rem;
    color: var(--grayish_cyan);
}

.result .amount {
    color: var(--strong_cyan);
    letter-spacing: -1px;
    font-size: 3rem;
}

.bill .reset {
    background-color: var(--strong_cyan);
    color: var(--very_dark_cyan);
    width: 100%;
    padding: .75rem 0;
    border-radius: .25rem;
    text-align: center;
    margin-top: 7.25rem;
    margin-bottom: 1rem;
    cursor: pointer;
}

.bill .reset:hover {
    background-color: hsl(172, 61%, 77%);
}

.bill .reset[empty] {
    background-color: hsl(183, 78%, 24%);
    color: hsl(183, 100%, 15%);
}

@media (max-width: 767px) {
    main {
        gap: 2rem;
    }
    .logo {
        margin-top: 2rem;
    }
    .card {
        flex-flow: column nowrap;
        padding: 1rem;
    }

    .form_select .options {
        grid-template: repeat(2, minmax(3rem, 1fr)) / repeat(3, minmax(4rem, 1fr));
        gap: .5rem
    }
    .bill {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .bill .result {
        margin-top: 1rem;
    }

    .bill .reset {
        margin-top: 1rem;
    }
}